@page
@model WeatherForecastModel
@{
    ViewData["Title"] = "Weather Forecast...";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temp. (C)</th>
            <th scope="col">Temp. (F)</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in Model.WeatherForecasts)
        {
            <tr accesskey="@forecast.Date">
                <th scope="row">@forecast.Date.Date.Date</th>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>